<table class="table table-sm">

  <tbody>
    <tr>
      <td>Разрешение</td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>HDR</td>
      <td>{{ product.hdr }}</td>

    </tr>
  <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>Дисплей</td>
      <td>{{ product.display_type }}</td>
    </tr>
  <tr>
      <td>Процессор</td>
      <td>{{ product.processor }}</td>
    </tr>
  <tr>
      <td>Объем</td>
      <td>{{ product.capacity }}</td>
    </tr>
  </tbody>
</table>

